{% extends "base.html.twig" %}

{% block body %}

    <h2>{% trans from 'FOSMessageBundle' %}inbox{% endtrans %}</h2>

    <a href="{{ url('fos_message_thread_new' )}}">{% trans from 'FOSMessageBundle' %}send_new{% endtrans %}</a>

    {% include 'FOSMessageBundle:Message:threads_list.html.twig' with {'threads': threads} %}

{% endblock %}

{% block javascripts %}
    <script src="{{ asset('js/inbox.js') }}"></script>
{% endblock %}
