{% extends 'base.html.twig' %}

{% block body %}
    <h1>You don't have access to this page</h1>

    <p>The requested page can't be loaded at this time.
        <a href="{{ path('homepage') }}">Return to the homepage</a>.</p>
{% endblock %}