{% extends "base.html.twig" %}

{% block intro %}
<body>
  <div class="header";>
    <center><h1>Contact us</h1></center>
  </div>

  <div>
    <h3>Jia Sheng Liang</h3>
    <p>Jiasheng.liang</p>

    <h3>Mohamad Hosein Miraftabi</h3>
    <p>Mohamad.miraftabi@student.manchester.ac.uk</p>

    <h3>Kane Moss</h3>
    <p>Kane.Moss@student.manchester.ac.uk</p>

    <h3>Steeve Moussa</h3>
    <p>Steeve.moussa@student.manchester.ac.uk</p>

    <h3>Alasdair Olway</h3>
    <p>Alasdair.olway@student.manchester.ac.uk</p>

    <h3>Teodor Stefan Pintea</h3>
    <p>Teodor.pintea@student.manchester.ac.uk</p>

    <h3>Paulius Trucinskas</h3>
    <p>Paulius.trucinskas@student.manchester.ac.uk</p>

  </div>
</body>
{% endblock %}
