{% extends "base.html.twig" %}

{% block intro %}
<body>
  <div class="header";>
    <h1>Contact us</h1>
  </div>

  <div>
    <h3>Jia Sheng Liang</h3>
    <p>jiasheng.liang</p>

    <h3>Mohamad Hosein Miraftabi</h3>
    <p>mohamad.miraftabi@student.manchester.ac.uk</p>

    <h3>Kane Moss</h3>
    <p>kane.moss@student.manchester.ac.uk</p>

    <h3>Steeve Moussa</h3>
    <p>steeve.moussa@student.manchester.ac.uk</p>

    <h3>Alasdair Olway</h3>
    <p>alasdair.olway@student.manchester.ac.uk</p>

    <h3>Teodor Stefan Pintea</h3>
    <p>teodor.pintea@student.manchester.ac.uk</p>

    <h3>Paulius Trucinskas</h3>
    <p>paulius.trucinskas@student.manchester.ac.uk</p>
  </div>
</body>
{% endblock %}
