{% extends "base.html.twig" %}

{% block intro %}
<body>
  <div class="header";>
    <h1> Frequently Asked Questions </h1>
  </div>

  <div>
    <h3>What is Bully Shield?</h3>
    <p>Bully Shield is an application that works along side your favourite
      messaging app to detect any signs of malicious messages and harassment
      in a conversation.</p>

    <h3>How does this work?</h3>
    <p>The Bully Shield algorithm looks through a message thread
       comparing them with it's recognition library and raises a flag if any
       malicious content is found.</p>

    <h3>Are my personal messages being saved</h3>
    <p>For the Bully Shield algorithm to function your messages are temporarily
       stored in our secure database. If no harmful message is found then the
       message is discarded.</p>

    <h3>Can this program distinguish a joke from actual bullying?</h3>
    <p>There is a two step verification that first locates malicious words and
       then passes the sentence containing the word to a regular expression
       checker which distinguishes jokes from harmful messages.</p>
  </div>
</body>
{% endblock %}
