{% extends "base.html.twig" %}
{% block title %} FAQs {% endblock %}
{% block body %}
<div class="container intro-div">
  <div id="heading_div">
    <i class="fas fa-question heading-icon"></i>
    <h1 class="title-header"> Frequently Asked Questions </h1>
  </div>

  <div>
    <h5>What is Bully Shield?</h5>
    <p>Bully Shield is an application that works along side your favourite
      messaging app to detect any signs of malicious messages and harassment
      in a conversation.</p>

    <h5>How does this work?</h5>
    <p>The Bully Shield algorithm looks through a message thread
       comparing them with it's recognition library and raises a flag if any
       malicious content is found.</p>

    <h5>Are my personal messages being saved</h5>
    <p>For the Bully Shield algorithm to function your messages are temporarily
       stored in our secure database. If no harmful message is found then the
       message is discarded.</p>

    <h5>Can this program distinguish a joke from actual bullying?</h5>
    <p>There is a two step verification that first locates malicious words and
       then passes the sentence containing the word to a regular expression
       checker which distinguishes jokes from harmful messages.</p>
  </div>
</div>
{% endblock %}

{% block javascripts %}
    <script>
        var navItem = document.getElementById("faq-nav-item");
        navItem.classList.add("active");
    </script>
{% endblock %}