{% extends 'base.html.twig' %}

{% block title %}Homepage{% endblock %}

{% block body %}
    <h1>BullyShield</h1>
    homepage                            ANY      /<br>
    account_account_index               ANY      /account/<br>
    fos_user_security_login             GET|POST /login<br>
    fos_user_security_check             POST     /login_check<br>
    fos_user_security_logout            GET|POST /logout<br>
    fos_user_profile_show               GET      /profile/<br>
    fos_user_profile_edit               GET|POST /profile/edit<br>
    fos_user_registration_register      GET|POST /register/<br>
    fos_user_registration_check_email   GET      /register/check-email<br>
    fos_user_registration_confirm       GET      /register/confirm/{token}<br>
    fos_user_registration_confirmed     GET      /register/confirmed<br>
    fos_user_resetting_request          GET      /resetting/request<br>
    fos_user_resetting_send_email       POST     /resetting/send-email<br>
    fos_user_resetting_check_email      GET      /resetting/check-email<br>
    fos_user_resetting_reset            GET|POST /resetting/reset/{token}<br>
    fos_user_change_password            GET|POST /profile/change-password<br>
    fos_message_inbox                   ANY          /messaging/<br>
    fos_message_sent                    ANY          /messaging/sent<br>
    fos_message_deleted                 ANY          /messaging/deleted<br>
    fos_message_search                  ANY          /messaging/search<br>
    fos_message_thread_new              ANY          /messaging/new<br>
    fos_message_thread_delete           POST|DELETE  /messaging/{threadId}/delete<br>
    fos_message_thread_undelete         POST         /messaging/{threadId}/undelete<br>
    fos_message_thread_view             ANY          /messaging/{threadId}<br>
{% endblock %}