<div class="container">
    {#<h2>What BullyShield does?...</h2>#}
    {#<br>#}
    <p>
        At BullyShield, we believe that we form our values and perceptions of the outside world, through conversations with other people. The conversations we have with people, allow us to gain a greater understanding of the world that is around us. Unfortunately, some of these conversations can be potentially harmful for your child, both physically and mentally. Sometimes, without even knowing it, we can become a bully or be bullied.
        <br>
        <br>
        Our mission is to create a safe space to enjoy and appreciate the internet, and the conversations with other people. We are not here to solve bullying, nor do we claim to do that! However, we do want to provide a service that can help you, to stay safe online.
        <br>
        <br>
        Thanks,
        <br>
        BullyShield DevTeam
    </p>
    {% if not is_granted("IS_AUTHENTICATED_REMEMBERED") %}
    <div class="text-center">
        <a href="/login" class="btn btn-lg btn-primary btn-block" id="goto-login">Register or Login now!</a>
    </div>
    {% endif %}
</div>

