<div class="container intro-div">
    {#<h2>What BullyShield does?...</h2>#}
    {#<br>#}
    <p>
        We form our values from our interactions with people. We tend to be
        influenced by ideas, words and human interaction. Without knowing, we form
        perceptions about ourselves or about the others. Without knowing, be become
        either a bully or a victim...
        <br>
        <br>
        BullyShield solves this problem. By taking care of what tipe of messages
        your kid receives or sends in an online environment, we can notice you about
        his/hers behaviour so you, as a parent, can take care of him.
        We are the future of chats! We make the internet and the online
        interaction safe again!
    </p>
    <br>
    <a href="#" id="goto-login">Register or Login now!</a>
</div>