html,
body {
    height: 100%;
    overflow: hidden;
}

body {
    background-color: #f5f5f5;
    /*margin-bottom: 60px;*/
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.title-header {
    /*margin: 0 auto;*/
    text-align: center;
}

.login {
    min-width: 500px;
    margin-top: 30px;
}

.body-container {
    width: 100%;
    /*height: 100%;*/
    /*overflow-y: auto;*/
}

html body .body-container {
    position: absolute;
    top: 60px;
    bottom: 60px;
    right: 0;
    left: 0;
    overflow-y: auto;
}


@media screen and (min-height: 800px) {
    .body-container {
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

#login_register_div {
    height: 60%;
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
    -ms-flex-align: center;
    -ms-flex-pack: center;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
}

.tab-content {
    padding-top: 20px;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 60px;
    line-height: 60px; /* Vertically center the text there */
    background-color: #343a40;
}

.footer > .container {
    padding-right: 15px;
    padding-left: 15px;
}

.logo {
    height: 50px;
    width: 50px;
}

#heading_div {
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
    -ms-flex-align: center;
    -ms-flex-pack: center;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    /*padding-top: 100px;*/
    margin-bottom: 30px;
}

#reset {
    margin-top: 10px;
}

#_submit {
    margin-bottom: 0.5rem !important;
}

.nav-item-login {
    width: 50%;
    text-align: center;
}

.intro-div {
    max-width: 600px;
    margin-top: 60px;
    margin-bottom: 60px;
}

#goto-login, #goto-intro {
    margin-top: 40px;
}

#login-tab-content {
    margin-bottom: 1rem;
}

.nav-right {
    /*display: flex;*/
    /*flex-direction: row;*/
}

#inbox-container {
    width: 70%;
    margin: 0 auto;
}

#send-message {
    margin-left: 15px;
    margin-top: 30px;
    margin-bottom: 30px;
}

#new-message-container, #thread-container {
    /*width: 50%;*/
    /*margin: 0 auto;*/
    height: 80%;
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
    -ms-flex-align: center;
    -ms-flex-pack: center;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
}

#new-message-inner-container, #thread-inner-container {
    width: 30%;
    min-width: 400px;
}

#messages-container {
    /*height: 300px;*/
    max-height: 40vh;
    overflow: auto;
}

#new-message-alert {
    background-color: #ffeeba;
}

.messaging-back-button {
    margin-bottom: 30px;
}