{% extends "base.html.twig" %}

{% block body %}
    <h3>Please login</h3>
    {{ include("@FOSUser/Security/login_content.html.twig") }}
    <h3>Or Register</h3>
    {{ include("@FOSUser/Registration/register_content.html.twig") }}
{% endblock body %}
